<div class="flex flex-col items-center min-h-screen bg-blue-50">
    <!-- logo -->
    <div class="w-full flex justify-between items-center px-8 py-4 bg-white shadow">
      <a [routerLink]="['/pageInfermier']">
        <img src="../../../assets/logo.svg" alt="Logo" class="w-auto h-10" />
      </a>
    </div>
  
  
 
    <div class="flex flex-col items-center mt-8 space-y-6 w-3/4">
      <div class="w-full">
        <!-- Table -->
        <table class="table-auto w-full border border-gray-300 bg-white">
          <thead class="bg-white">
            <tr>
              <th class="px-4 py-2 border text-blue-600">Soin</th>
              <th class="px-4 py-2 border text-blue-600">Type</th>
              <th class="px-4 py-2 border text-blue-600 obs">Observation</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData">
              <td class="px-4 py-2 border">{{ row.soin }}</td>
              <td class="px-4 py-2 border">{{ row.type }}</td>
              <td class="px-4 py-2 border obs">{{ row.observation }}</td>
            </tr>
  
          
            <tr>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  placeholder="Soin"
                  [(ngModel)]="newSoin"
                  class="w-full p-2 border rounded"
                />
              </td>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  placeholder="Type"
                  [(ngModel)]="newType"
                  class="w-full p-2 border rounded"
                />
              </td>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  placeholder="Observation"
                  [(ngModel)]="newObservation"
                  class="w-full p-2 border rounded"
                />
              </td>
            </tr>
          </tbody>
        </table>
  
        <div class="flex justify-between mt-4">
            <button
              (click)="ajouterEntree()"
              class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
            >
              Ajouter
            </button>
            <button
              (click)="saveEntries()"
              class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
              (click)="saveEntries()"
            >
              Enregistrer
            </button>
          </div>
          
   
      
      <div class="flex justify-between w-full mt-4">
       
      </div>
    </div>
  </div>
  