<div class="  fixed">
  <button class=" md:hidden fixed z-50" (click)="toggleSidebar()">
    <img src="assets/images/icons8-hamburger.png" class="" alt="">
  </button>
  <div [ngClass]="{' md:translate-x-0  -translate-x-72':!sideBarBool, '  translate-x-0':sideBarBool}"
    class=" bg-blue-50 w-fit py-3 h-full z-50 transition-all duration-500 ease-in-out absolute mt-20">
    <!-- <div class=" flex items-center place-content-center">
    <img src="assets/images/logo.svg" alt="logo" srcset="">
    <p class=" text-xl font-bold ml-3">Medi<span class=" text-blue-500">Care</span></p>
  </div> -->

    <ul class="bg-blue-50">
      <li *ngFor="let link of navigationLinks" class=" text-center my-2 mb-5 text-nowrap">
        <a [routerLink]="link.path" routerLinkActive="bg-blue-400 text-white"
          class=" w-full block capitalize cursor-pointer bg-blue-200 px-5 py-3 text-xl text-blue-800 font-semibold rounded-md hover:bg-blue-400 hover:text-white transition-all ">{{link.label}}
        </a>
      </li>

    </ul>
  </div>

</div>