<nav>
  
  <div class=" flex items-center place-content-center">
    <img src="assets/images/logo.svg" alt="logo" srcset="">
    <p class=" text-xl font-bold ml-3">Medi<span class=" text-blue-500">Care</span></p>
  </div>
  <div class=" flex flex-col">
    <button routerLink="/dpi"> go to Page medecin </button>
    <button routerLink="/pagepatient"> go to Page Patient</button>
    <button routerLink="/pageadminnistratif"> go to Page Adminnistratif</button>
    <button routerLink="/formpatient"> creer Dpi</button>
    
  </div>
</nav>