<div class=" flex place-content-center items-center flex-col md:ml-32">

  <section id="sectionToDownload" class=" w-[70%] border-2 border-blue-300 my-5">
    <div class=" relative mb-40">
      <img class=" absolute  top-0 right-0" src="assets/images/certificatShape1.svg" alt="logo" srcset="">
      <p class=" absolute text-white text-3xl font-bold right-1/4 top-5">Certificat</p>
    </div>
    <div class=" flex flex-col items-end mr-10">

      <p class=" font-semibold text-xl">Dr. Samir Benyahia</p>
      <p>Radiologue</p>
    </div>

    <div class=" ml-10">
      <div class=" flex mb-5">
        <p class=" font-semibold">Nom du patient : </p>
        <input type="text" name="" id="" class=" ml-3 border-b-2 focus:outline-none border-blue-300">
      </div>
      <div class=" flex mb-5">
        <p class=" font-semibold">Date de naissance : </p>
        <input type="date" name="" id="" class=" ml-3 border-b-2 focus:outline-none border-blue-300">
      </div>

      <div class=" flex mb-5">
        <p class=" font-semibold">Numéro du dossier : </p>
        <input type="number" name="" id="" class=" ml-3 border-b-2 focus:outline-none border-blue-300">
      </div>
    </div>
    <div class=" m-20 relative">
      <img class=" absolute z-[-1] right-1/3" src="assets/images/bglogo.svg" alt="" srcset="">
      <p class=" font-semibold text-blue-400 pt-10">
        Je soussigné(e), <span class=" text-blue-600"> médecin traitant</span>, certifie que : <span
          class=" text-blue-600"> M./Mme [Nom du patient] </span>, né(e)
        le <span class=" text-blue-600">[Date de naissance] </span>,
        demeurant à <span class=" text-blue-600">[Adresse du patient] </span>, numéro de dossier médical : <span
          class=" text-blue-600"> [Numéro de dossier]
        </span>, est en
        incapacité
        temporaire de travail pour cause médicale, du <span class=" text-blue-600"> [Date de début] </span> au <span
          class=" text-blue-600"> [Date de fin] </span>.
        Cette incapacité est liée à
        <span class=" text-blue-600"> [Nature de l'affection ou de la condition médicale] </span>, requérant du repos
        et un suivi médical. Le
        patient est
        donc dans l'impossibilité d'exercer son activité professionnelle pendant cette période. Je recommande une
        réévaluation médicale à la fin de cette période de repos et la possibilité de prolonger l'arrêt si
        nécessaire.Fait à <span class=" text-blue-600"> [Lieu]</span>, le <span class=" text-blue-600"> [Date
          d'émission] </span>.
      </p>
    </div>

    <div class=" flex place-content-end mt-10 text-xl">
      <p class=" font-semibold capitalize mr-32">cachet officiel : </p>
    </div>
    <div class=" flex md:place-content-between mt-20 md:mx-10 flex-wrap mb-40 ">
      <div class=" flex mb-5">
        <p class=" font-semibold">Date: </p>
        <input type="date" name="" id="" class=" ml-3 border-b-2 focus:outline-none border-blue-300">
      </div>
      <div class=" flex ">
        <p class=" font-semibold">Signature : </p>
        <input type="text" name="" id="" class=" ml-3 border-b-2 focus:outline-none border-blue-300 h-7">
      </div>

    </div>

    <div class=" relative  z-[-5] flex place-content-around">
      <img class=" absolute  bottom-0 left-0 z-[-5]" src="assets/images/certificatShape2.svg" alt="logo" srcset="">
      <img class=" absolute  bottom-5 left-5 scale-75" src="assets/images/qrcode.svg" alt="logo" srcset="">
      <div class=" z-20 text-white mb-5 absolute bottom-0">
        <div class=" flex md:w-96 place-content-start flex-wrap items-end">
          <div class=" flex items-center">
            <img class=" scale-50" src="assets/images/hopitalicon.svg" alt="">
            <p>Nom de l'hôpitale</p>
          </div>
          <div class=" flex items-center ml-10">
            <img class=" scale-50" src="assets/images/emailicon.svg" alt="">
            <p class="">adresseEmail</p>
          </div>
        </div>
        <div class=" flex items-center">
          <img class=" scale-50" src="assets/images/tlphnicon.svg" alt="">
          <p>0541791761</p>
        </div>

      </div>
    </div>

  </section>
  <button (click)="downloadSection()" class=" bg-blue-400 text-white capitalize px-5 py-3 m-3 rounded-lg">télécharger
    certificat médicale</button>

</div>