<div class="min-h-screen bg-white  p-4">
  <header class="flex justify-between items-center bg-white p-4">
    <!-- Logo -->
    <div class="flex items-center">
      <a [routerLink]="['/pageLanding']">
        <img src="../../../assets/logo.svg" alt="Logo" class="w-auto h-10" />
      </a>
    </div>
  
    <!-- Bouton et menu utilisateur -->
    <div class="flex items-center space-x-4">
    <app-user
    (userIconClicked)="toggleInfermierInfo()"
    ></app-user>
         <!-- Médecin's Information -->
    <div 
    *ngIf="isInfermierVisible" 
    class="medecin-info absolute right-6 top-16  bg-white p-4 rounded-md shadow-lg border border-gray-200 w-64">
    <p class="mt-2"><strong>Nom :</strong> {{ infermierConnecte.nom }}</p>
    <p><strong>Prénom :</strong> {{ infermierConnecte.prenom }}</p>
    <button 
      class="mt-4 bg-dark-blue text-white py-1 px-4 rounded hover:bg-blue-600"
      (click)="logout()">
      Déconnexion
    </button>
    </div>
    </div>
  </header>
  
      
  
    <!-- Tableau -->
    <app-dpi-tableau></app-dpi-tableau>
  </div>
  