<div class="flex flex-col items-center min-h-screen bg-blue-50 mb-0">
 
    <div class="w-full flex justify-between items-center px-8 py-4 bg-white shadow">
      <img src="../../../assets/logos/logo.png" />
      <span class="text-xl font-bold text-blue-600">Your Header Text</span>
      <button class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600">
        Retour
      </button>
    </div>
  
  
    <div class="flex flex-col items-center mt-8 space-y-6 w-3/4">
      <div class="w-full">
        <h2 class="text-center text-xl font-bold mb-4">Bar Chart</h2>
        <canvas #chartCanvas></canvas>
      </div>
    </div>
  </div>
  