<div class="min-h-screen bg-white  p-4">
  <!-- Header -->
  <header class="flex justify-between items-center bg-white p-4">
    <!-- Logo -->
    <div class="flex items-center">
      <a [routerLink]="['/pageLaboratin']">
        <img src="../../../assets/logo.svg" alt="Logo" class="w-auto h-10" />
      </a>
    </div>
  
    <!-- Bouton et menu utilisateur -->
    <div class="flex items-center space-x-4">
      <!-- Bouton Créer DPI -->
      <button
        class="bg-dark-blue text-white text-sm px-4 py-2 rounded-lg hover:bg-light-blue hover:text-black transition"
        (click)="onButtonClick()"
      >
        Créer Bilan Biologique
      </button> 
  
      <!-- Image de compte et menu -->
      <div class="relative">
        <!-- Icône de compte -->
        <button
          class="focus:outline-none"
          (click)="toggleMenu($event)" 
          aria-label="Account Menu"
        >
          <img
            src="../../../assets/account.svg"
            alt="account"
            class="h-9 cursor-pointer"
          />
        </button>
  
        <!-- Menu déroulant -->
        <div
          *ngIf="isMenuOpen"
          class="absolute right-0 mt-2 w-40 bg-white border border-dark-blue rounded-lg"
        >
          <!-- Lien Profil -->
          <a
            (click)="profil()"
            class="block px-4 py-2 text-gray-900 hover:bg-light-blue transition"
          >
            Profil
          </a>
  
          <!-- Bouton Déconnexion -->
          <button
            (click)="logout()"
            class="w-full text-left px-4 py-2 text-gray-700 hover:bg-red-100 hover:text-red-600 transition focus:outline-none"
          >
            Déconnexion
          </button>
        </div>
      </div>
    </div>
  </header>
  

<!--tableau -->
<div class="flex justify-center items-center my-6">
    <!-- Search Input Field -->
    <input
      type="text"
      class="w-2/3 sm:w-1/2 px-4 py-2 border border-dark-blue rounded-l-md focus:outline-none focus:ring-1 focus:ring-dark-blue"
      placeholder="Rechercher DPI"
      [(ngModel)]="searchText"
      (ngModelChange)="applySearchFilter()"
    />
    <!-- QR Code Icon Button to Trigger Image Upload -->
    <button
      class="px-4 py-2 bg-sky-blue text-white border border-dark-blue rounded-r-md hover:bg-light-blue transition"
    
    >
      <img src="../../../assets/search.svg" alt="QR Code Icon" class="h-6 w-6 object-contain" />
    </button>
  
    <!-- Hidden File Input for Image Upload -->
    <input
      type="file"
      #fileInput
      class="hidden"
      accept="image/*"
     
    />
  </div>
  
  <div class="flex justify-center items-center bg-white w-full max-w-5xl mx-auto p-6">
    <table class="table-auto border-collapse w-auto hidden sm:table">
      <!-- Filter row with the icon -->
      <thead>
        <tr class="border-b border-dark-blue">
          <td colspan="5" class="px-2 py-1 rounded-t-lg border-dark-blue">
            <div class="flex justify-start items-center relative rounded-lg">
              <!-- Filter button -->
              <button
                class="p-2 text-white rounded-full hover:bg-light-blue transition"
                (click)="toggleDropdown()"
                aria-label="Filter"
              >
                <img src="../../../assets/filter.svg" alt="Filter" class="h-4 w-4" />
              </button>
              <!-- Selected filter label -->
              <span class="ml-1 font-inter text-xs font-medium">
                {{ selectedFilter }}
              </span>
              <!-- Dropdown menu -->
              <ul
                *ngIf="toggleFilterDropdown"
                class="absolute bg-white shadow-lg mt-0 rounded-md border border-dark-blue z-10 w-[80px] text-xs left-0"
              >
                <li
                  *ngFor="let item of filterableKeys"
                  class="px-2 py-2 hover:bg-light-blue text-xs text-center cursor-pointer transition"
                  (click)="onFilterSelect(item)"
                >
                  {{ item.label }}
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </thead>
      <!-- Column headers -->
      <thead>
        <tr class="bg-sky-blue text-black">
          <th
            *ngFor="let column of columns"
            class="px-4 py-3 font-bold border border-dark-blue text-center"
          >
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <!-- Data rows -->
      <tbody *ngIf="filteredData.length > 0; else noResults">
        <tr *ngFor="let row of filteredData" class="hover:bg-light-blue transition" (click)="onRowClick(row)">
          <td *ngFor="let column of columns" [class]="getCellClass(column.key)" class="px-4 py-2 border">
            <ng-container [ngSwitch]="column.key">
              <!-- QR Code -->
              
              <span *ngSwitchDefault>
                {{ row[column.key] }}
              </span>
            </ng-container>
          </td>
        </tr>
      </tbody>
  
      <!-- No results found -->
      <ng-template #noResults>
        <tr>
          <td colspan="5" class="px-4 py-2 text-center text-red-500">
            Pas de résultats.
          </td>
        </tr>
      </ng-template>
    </table>


    <div class="block  w-2/3 sm:hidden">
      <!-- Filter Button -->
      <div class="flex justify-start items-center mb-4 ">
        <button
          class="p-2 ml-5 margin-down-0 text-white  rounded-full hover:bg-light-blue transition"
          (click)="toggleDropdown()"
          aria-label="Filter"
        >
          <img
            src="../../../assets/filter.svg"
            alt="Filter"
            class="h-4 w-4"
          />
        </button>
        <span class="ml-1 font-inter text-xs font-medium">
          {{ selectedFilter }}
        </span>
        <!-- Dropdown menu -->
        <ul
          *ngIf="toggleFilterDropdown"
          class="absolute bg-white shadow-lg mt-2 rounded-md border border-dark-blue z-10 w-[80px] text-xs"
        >
          <li
            *ngFor="let item of filterableKeys"
            class="px-2 py-2 hover:bg-light-blue text-xs text-center cursor-pointer transition"
            (click)="onFilterSelect(item)"
          >
            {{ item.label }}
          </li>
        </ul>
      </div>
      <div *ngIf="filteredData.length === 0" class="text-center p-4 text-sm text-gray-500">
        <p>Pas de Resultas.</p>
      </div>
    
      <!-- Display Data Rows as Cards -->
      <div
        *ngFor="let row of filteredData"
        class="border border-dark-blue rounded-lg p-2 mb-6 shadow-sm relative "
        class="border border-dark-blue rounded-lg p-2 mb-6 shadow-sm relative w-4/5 mx-auto"
        (click)="onRowClick(row)">
      
        
    
        <!-- NSS, Nom, Prenom -->
        <div class="flex flex-col mt-1  pl-2 space-y-3">
          <!-- NSS -->
          <div>
            <span class="font-semibold text-sky-500">Bilan-Id:</span>
            <span class="text-black font-xs ml-2">{{ row.id }}</span>
          </div>
    
          <!-- Nom -->
          <div>
            <span class="font-semibold text-sky-500">Date:</span>
            <span class="text-black font-xs ml-2 break-words">{{ row.date }}</span>
          </div>
    
          <!-- Prenom -->
          
        </div>
    
       
      </div>
    </div>
  </div>

  </div>
  