<div class="flex flex-col items-center min-h-screen bg-blue-50 mb-0">
    <!-- logo -->
    <div class="w-full flex justify-between items-center px-8 py-4 bg-white shadow">
     
        <img src="../../../assets/logos/logo.png"  />
        <span class="text-xl font-bold text-blue-600"></span>
    
      <button class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600">
        Retour
      </button>
    </div>
  
 
    <div class="flex flex-col items-center mt-8 space-y-6 w-3/4">
      <div class="w-full">
        <!-- Table -->
        <table class="table-auto w-full border border-gray-300 bg-white">
          <thead class="bg-white">
            <tr>
              <th class="px-4 py-2 border text-blue-600">Paramètre</th>
              <th class="px-4 py-2 border text-blue-600">Valeur</th>
              <th class="px-4 py-2 border text-blue-600">Unité</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of tableData">
              <td class="px-4 py-2 border">{{ row.parametre }}</td>
              <td class="px-4 py-2 border">{{ row.valeur }}</td>
              <td class="px-4 py-2 border">{{ row.unite }}</td>
            </tr>
  
          
            <tr>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  placeholder="Paramètre"
                  [(ngModel)]="newParametre"
                  class="w-full p-2 border rounded"
                />
              </td>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  placeholder="Valeur"
                  [(ngModel)]="newValeur"
                  class="w-full p-2 border rounded"
                />
              </td>
              <td class="px-4 py-2 border">
                <input
                  type="text"
                  placeholder="Unité"
                  [(ngModel)]="newUnite"
                  class="w-full p-2 border rounded"
                />
              </td>
            </tr>
          </tbody>
        </table>
  
    
        
      </div>
  
   
      
      <div class="flex justify-between w-full mt-4">
        <button
          (click)="genererGraph()"
          [disabled]="tableData.length === 0"
          class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-gray-300"
        >
          Générer Graphe
        </button>
        <button
          (click)="sauvegarder()"
          class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600"
        >
          Enregistrer
        </button>
      </div>
    </div>

    <div class="svg-container fixed bottom-0 left-0 w-full  bg-blue-50" >
      <svg class="svg-overlay"  width="74%"   viewBox="0 0 1249 125" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0L1029.23 0.976562L1060.37 4.88281L1091.5 11.7188L1118.97 20.5078L1144.61 32.2266L1168.42 44.9219L1192.23 61.5234L1214.2 81.0547L1230.69 97.6562L1249 122.07V124.023L1157.43 125H1012.75L0 124.023V0Z" fill="#A5CCFF"/>
      </svg>
      <svg class="svg-overlay"   width="80%"  viewBox="0 0 1370 176" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M0 0L1128.94 1.375L1163.09 6.875L1197.24 16.5L1227.38 28.875L1255.5 45.375L1281.61 63.25L1307.73 86.625L1331.83 114.125L1349.91 137.5L1370 171.875V174.625L1269.56 176H1110.87L0 174.625V0Z" fill="#CDE5F6"/>
      </svg>
    </div>
    
  </div>
  