<div class="flex flex-1 min-h-screen bg-white">
    <div class="hidden md:flex md:w-64 md:flex-col h-screen bg-light-blue ">
  
  
    
    <div class="flex flex-col flex-grow pt-5 overflow-y-auto">
      <a [routerLink]="['/pageLanding']">
        <img src="../../../assets/logo.svg" alt="Logo" class="w-auto h-10" />
      </a>
      <div class="px-4 mt-6">
        <hr class="border-gray-200" />
      </div>
    <div [ngClass]="{' md:translate-x-0  -translate-x-72':!sideBarBool, '  translate-x-0':sideBarBool}"
    class="flex flex-col flex-1 px-3 mt-6">
    <ul class="space-y-6">
      <li *ngFor="let link of navigationLinks" class="text-center my-2 mb-5 text-nowrap">
        <a [routerLink]="link.path" routerLinkActive="bg-dark-blue text-white"
           class="flex items-center px-4 py-2.5 text-sm font-medium text-dark-blue bg-sky-blue rounded-lg hover:text-white hover:bg-dark-blue">
          <svg *ngIf="link.icon" class="w-5 h-5 mr-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
            <path [attr.d]="link.icon"></path>  <!-- Dynamically binding the icon -->
          </svg>
          <span>{{ link.label }}</span>
        </a>
      </li>
    </ul>
    </div>
    </div>
  </div>
  </div>