<div class="flex justify-center items-center min-h-screen p-4 bg-white rounded-lg">
  <div class="w-full max-w-5xl bg-white rounded-lg shadow-lg">
    <!-- Table for Desktop (Hidden on Mobile) -->
    <table class="table-auto border-collapse w-full hidden sm:table">
      <!-- Filter row with the icon -->
      <thead>
        <tr class="border-b border-dark-blue">
          <td colspan="5" class="px-2 py-1 rounded-t-lg border-dark-blue">
            <div class="flex justify-start items-center relative rounded-lg">
              <!-- Filter button -->
              <button
                class="p-2 text-white  rounded-full hover:bg-light-blue transition"
                (click)="toggleDropdown()"
                aria-label="Filter"
              >
                <img
                  src="../../../assets/filter.svg"
                  alt="Filter"
                  class="h-4 w-4"
                />
              </button>
              <!-- Selected filter label -->
              <span class="ml-1 font-inter text-xs font-medium">
                {{ selectedFilter }}
              </span>
              <!-- Dropdown menu -->
              <ul
                *ngIf="toggleFilterDropdown"
                class="absolute bg-white shadow-lg mt-0 rounded-md border border-dark-blue z-10 w-[80px] text-xs left-0"
              >
                <li
                  *ngFor="let item of filterableKeys"
                  class="px-2 py-2 hover:bg-light-blue text-xs text-center cursor-pointer transition"
                  (click)="onFilterSelect(item)"
                >
                  {{ item.label }}
                </li>
              </ul>
            </div>
          </td>
        </tr>
      </thead>
      <!-- Column headers -->
      <thead>
        <tr class="bg-sky-blue text-black">
          <th
            *ngFor="let column of columns"
            class="px-4 py-3 font-bold border border-dark-blue text-center"
          >
            {{ column.label }}
          </th>
        </tr>
      </thead>
      <!-- Data rows -->
      <tbody>
        <tr
          *ngFor="let row of filteredData"
          class="hover:bg-light-blue transition"
        >
          <td
            *ngFor="let column of columns"
            [class]="getCellClass(column.key)"
            class="px-4 py-2 border"
          >
            <ng-container [ngSwitch]="column.key">
              <!-- QR Code -->
              <img
                *ngSwitchCase="'qrCode'"
                [src]="row.qrCode"
                alt="QR Code"
                class="h-6 w-6 mx-auto"
              />
              <!-- Photo -->
              <img
                *ngSwitchCase="'photo'"
                [src]="row.photo"
                alt="Photo"
                class="h-6 w-6 mx-auto rounded-full"
              />
              <!-- Text -->
              <span *ngSwitchDefault>
                {{ row[column.key] }}
              </span>
            </ng-container>
          </td>
        </tr>
      </tbody>
    </table>

    <div class="block sm:hidden">
      <!-- Filter Button -->
      <div class="flex justify-start items-center mb-4 ">
        <button
          class="p-2 ml-5 margin-down-0 text-white  rounded-full hover:bg-light-blue transition"
          (click)="toggleDropdown()"
          aria-label="Filter"
        >
          <img
            src="../../../assets/filter.svg"
            alt="Filter"
            class="h-4 w-4"
          />
        </button>
        <span class="ml-1 font-inter text-xs font-medium">
          {{ selectedFilter }}
        </span>
        <!-- Dropdown menu -->
        <ul
          *ngIf="toggleFilterDropdown"
          class="absolute bg-white shadow-lg mt-2 rounded-md border border-dark-blue z-10 w-[80px] text-xs"
        >
          <li
            *ngFor="let item of filterableKeys"
            class="px-2 py-2 hover:bg-light-blue text-xs text-center cursor-pointer transition"
            (click)="onFilterSelect(item)"
          >
            {{ item.label }}
          </li>
        </ul>
      </div>
    
      <!-- Display Data Rows as Cards -->
      <div
        *ngFor="let row of filteredData"
        class="border border-dark-blue rounded-lg p-2 mb-6 shadow-sm relative"
        class="border border-dark-blue rounded-lg p-2 mb-6 shadow-sm relative w-4/5 mx-auto"
      >
        <!-- Photo (Top Right) -->
        <div class="absolute top-2 right-3">
          <img
            *ngIf="row.photo"
            [src]="row.photo"
            alt="Photo"
            class="h-12 w-12 rounded-full"
          />
        </div>
    
        <!-- NSS, Nom, Prenom -->
        <div class="flex flex-col mt-14 pl-4 space-y-3">
          <!-- NSS -->
          <div>
            <span class="font-semibold text-sky-500">NSS:</span>
            <span class="text-black font-xs ml-4">{{ row.nss }}</span>
          </div>
    
          <!-- Nom -->
          <div>
            <span class="font-semibold text-sky-500">Nom:</span>
            <span class="text-black font-xs ml-4 break-words">{{ row.nom }}</span>
          </div>
    
          <!-- Prenom -->
          <div>
            <span class="font-semibold text-sky-500">Prenom:</span>
            <span class="text-black font-xs ml-4 break-words">{{ row.prenom }}</span>
          </div>
        </div>
    
        <!-- QR Code (Bottom Center) -->
        <div class="flex justify-center mt-3">
          <img
            *ngIf="row.qrCode"
            [src]="row.qrCode"
            alt="QR Code"
            class="h-10 w-10"
          />
        </div>
      </div>
    </div>
    
    
    
    

    
    
  </div>
</div>
