<div class="flex flex-col items-center  min-h-screen bg-blue-50">

    <div class="w-full flex justify-between items-center px-8 py-4 bg-white shadow">
      <div class="flex items-center space-x-2">
        <img src="../../../assets/logos/logo.png" alt="MediCare Logo"  />
        <span class="text-xl font-bold text-blue-600"></span>
      </div>
      <button class="px-4 py-2 text-white bg-blue-500 rounded-md hover:bg-blue-600">
       Retour
      </button>
    </div>
  

    <div class="flex flex-col items-center mt-16 space-y-6 w-3/4">
      
      <textarea
      [(ngModel)]="examenResultats"
      placeholder="Reporter les résultats ici..."
      class="w-full h-40 p-4 border border-blue-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500"
    ></textarea>
      <div class="w-full flex flex-col items-center space-y-4">
        <label
          for="file-upload"
          class="px-4 py-2 text-white bg-blue-500 rounded-md cursor-pointer hover:bg-blue-600"
        >
          Uploader images radiologiques
        </label>
        <input
          id="file-upload"
          type="file"
          class="hidden"
          (change)="onImageUpload($event)"
          multiple
        />
        <!-- list des radiographies -->
        <div class="flex flex-wrap  gap-4 w-full justify-center">
       
          <div *ngFor="let image of uploadedImages2;let i=index" class="w-1/4 flex flex-col items-center mb-4">
            <img [src]="image" alt="Uploaded Image" class="w-32 h-32 border border-blue-300 rounded-lg" />
            <span class="text-sm text-gray-600 font-bold">{{ "Image radiographique " +(i+1) }}</span> 
          </div>
        </div>
      
      <button
        [disabled]="uploadedImages2.length === 0" 
        (click)="sauvegarder()"
        class="px-6 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-gray-300">
        Enregistrer
      </button>
    </div>

      <!-- decors-->
  
    
      
    
  </div>
  
  <div class="svg-container fixed bottom-0 left-0 w-full" >
    <svg class="svg-overlay"  width="74%"   viewBox="0 0 1249 125" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0L1029.23 0.976562L1060.37 4.88281L1091.5 11.7188L1118.97 20.5078L1144.61 32.2266L1168.42 44.9219L1192.23 61.5234L1214.2 81.0547L1230.69 97.6562L1249 122.07V124.023L1157.43 125H1012.75L0 124.023V0Z" fill="#A5CCFF"/>
    </svg>
    <svg class="svg-overlay"   width="80%"  viewBox="0 0 1370 176" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M0 0L1128.94 1.375L1163.09 6.875L1197.24 16.5L1227.38 28.875L1255.5 45.375L1281.61 63.25L1307.73 86.625L1331.83 114.125L1349.91 137.5L1370 171.875V174.625L1269.56 176H1110.87L0 174.625V0Z" fill="#CDE5F6"/>
    </svg>
  </div>